<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles.css">
    <script type="module" src="/js/main.js"></script>
</head>
<body class="bg-gray-50 p-5">
    <div class="max-w-8xl mx-auto bg-white rounded-lg shadow-lg p-10">
        {{ content | safe }}
    </div>
</body>
</html> 